</head>
<body>
        <nav>
		<i class=""></i>  
        <a 
                href="/flights/new" <%- title === 'Add Flights' ? 'class="active"' : '' %>
        >
                Add Flight
        </a>
        <a
                href="/flights" <%- title ==='All Movies' ? 'class="active"' : '' %>
        >
                All Flights
        </a>
        <a
                href="/meals/new" <%- title ==='Add Meal' ? 'class="active"' : '' %>
        >
                Add Meal
        </a>
        </nav>